*{
    margin: 0;
    padding: 0;
}
body{
    background:#f3e08e;
    color: #666;
    text-align: center;
    /* 表示对body里面是行和的子元素实现居中 */
}
audio{
    width: 450px;
    margin: 30px 0;
    
        margin: auto;
        border-radius: 10px;
        padding: 10px;
        
        bottom: 0;
        right: 400px;
    
}
.container{
    height: 420px;
    overflow: hidden;
    /* border: 2px solid #fff; */
}
.container li{
    height: 30px;
    line-height: 30px;
    transition: 0.2s;
    /* border: 2px solid #fff; */
    
}
.container ul{
    /* border: 2px solid #fff; */
    transition: 0.6s;
    list-style: none;
    
}
.container li.active{
    color: #000;
    transform: scale(1.5);
    
    
    
}

.pic{
    width: 100px;
    height: 100px;
}
.pic img{
    width: 500px;
    height: 500px;
    border-radius: 300px;
    position: fixed;
}
.venti{
    z-index: 200;
    left: 0;
    width: 200px;
    top: 0;
    margin-bottom: 100px;
    position: fixed;
}
.keli{
    z-index: 400;
    right: 0;
    width: 400px;
    top: 0;
    margin-bottom: 100px;
    position: fixed;
}
.qiqi{
    z-index: 600;
    right: 0;
    width: 400px;
    bottom: 0;

    position: fixed;
}
.xiao{
    z-index: 800;
    left: 5%;
    top: 63%;
    width: 500px;
    bottom: 0;
    position: fixed;
}
.qiqil{
    z-index: 600;
    right: 200px;
    width: 400px;
    bottom: 0;

    position: fixed;
}